
<div class="container">
    <div class="sidebar">
       <p>Fileinfo</p>
    </div>
    <div class="content infoContent">
        <p class="category infoData">id: </p><p>&nbsp;{{file.id}}</p>
        <br/>
        <p class="category infoData">name: </p><p>&nbsp;{{file.name}}</p>
         <br/>
        <p class="category infoData">path: </p><p>&nbsp;{{file.path}}</p>
         <br/>
        <p class="category infoData">size: </p><p>&nbsp;{{file.size}}</p>
         <br/>
        <p class="category infoData">type: </p><p>&nbsp;{{file.type}}</p>
         <br/>
        <p class="category infoData">savedate:</p><p>&nbsp;{{file.savedate}}</p>
        
    </div>
</div>